<div class="shop-items">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let i of data">
          <!-- Restaurant Item -->
        
          <div class="item">
            <!-- Item's image -->
            <a routerLink='/details' (click)="viewDetailes(i)">
            <img class="img-responsive" src="{{i.image}}" alt="">
            <!-- Item details -->
            <div class="item-dtls">
              <!-- product title -->
              <h4><a >{{i.title}}</a></h4>
              <!-- price -->
              <span class="price lblue">${{i.price}}</span>
            </div>
          </a>
            <!-- add to cart btn -->
            <div class="ecom bg-lblue">
              <!-- <button type="button" class="btn" >Add to cart</button> -->
              <a class="btn" type="button" (click)=" handleAddToCart(i)" >Add to cart</a>
            </div>
          </div>


         
        </div>


      </div>

  </div>
</div>                
