

<div class="container">

<div class="main">
    
    <!-- Another variation with a button -->
    <div class="input-group">
      <!-- <input type="text" class="form-control"  (keyup)="getVal($event.target.value)" placeholder="Search product ..."> -->
      <input type="text" class="form-control" [(ngModel)]="name"  placeholder="Search product ...">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    
    
    
</div>

<div class="row">
  <app-shopping-cart [data]="data |search:name"></app-shopping-cart>
</div>
</div>


<div class="m"></div>


<app-footer></app-footer>






